.Header {
  height: 67px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #c3cfd9;
}

.Header h1 {
  font-size: 34px;
  color: #e8833a;
}
